/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bodyBg; /* Custom Tailwind color */
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-track {
  display: flex;
  width: fit-content;
  animation: scroll-marquee 20s linear infinite;
}
